# Part 4 -- Combine Features and Target (SP500)

Since our feature data (Tweets) and target data (stocks) are pulled from different sources and have different numbers of rows and columns, we will need to do some cleaning to make sure our X's and y's share the same number of rows. This is important for when we feed our data into models.

**Load lib codes**

In [1]:
from os import chdir
chdir('/home/jovyan/work/Portfolio/Analyzing_Unstructured_Data_for_Finance/')

from lib import *
# suppress_warnings()

In [5]:
SP500_df = pd.read_pickle('../Analyzing_Unstructured_Data_for_Finance/data/3.2.sp500_stocks_df.pickle')

In [3]:
tweets_df = pd.read_pickle('../Analyzing_Unstructured_Data_for_Finance/data/2.tweets_df.pickle')

In [6]:
SP500_df.shape

(2014, 9)

In [6]:
tweets_df.shape

(94856, 6)

**Do some checks to see if everything matches correctly before merging the dataframes**

In [12]:
SP500_df[2000:2005]

,Date,Close,Diff,High,Low,Open,Percent_Change,Volume,Percent_Change_Class
2000,2017-05-22,97.444651,0.586108,97.975369,96.590958,97.107944,0.005277,3.692048e+06,neutral
2001,2017-05-23,97.311697,-0.132954,98.053313,96.650339,97.431218,-0.000309,3.514729e+06,down
2002,2017-05-24,97.643273,0.331577,98.136727,96.762176,97.410639,0.001673,3.571004e+06,down
2003,2017-05-25,98.260000,0.616727,98.941357,97.348224,97.950379,0.003405,4.014203e+06,down
2004,2017-05-26,98.282655,0.022655,98.837505,97.663014,98.257665,-0.000145,3.026608e+06,down

In [13]:
tweets_df.head(5)

,_id,text,timestamp,username,Date,cleaned_text
0,593deb7057bbd4047664223e,"On this National Gun Violence Awareness Day, l...",2017-06-02 17:35:54,BarackObama,2017-06-02,on this national gun violence awareness day le...
1,593deb7057bbd4047664223f,Forever grateful for the service and sacrifice...,2017-05-29 13:09:16,BarackObama,2017-05-29,forever grateful for the service and sacrifice...
2,593deb7057bbd40476642240,Good to see my friend Prince Harry in London t...,2017-05-27 13:15:25,BarackObama,2017-05-27,good to see my friend prince harry in london t...
3,593deb7057bbd40476642241,"Through faith, love, and resolve the character...",2017-05-25 14:13:35,BarackObama,2017-05-25,through faith love and resolve the character o...
4,593deb7057bbd40476642242,Our hearts go out to those killed and wounded ...,2017-05-23 16:56:14,BarackObama,2017-05-23,our hearts go out to those killed and wounded ...

In [16]:
tweets_df['Date'][3]==SP500_df['Date'][2003]

True

In [17]:
SP500_df[SP500_df['Percent_Change_Class']=='neutral']

,Date,Close,Diff,High,Low,Open,Percent_Change,Volume,Percent_Change_Class
6,2009-06-19,31.668702,0.119021,32.167198,31.296651,31.850296,0.005157,1.007858e+07,neutral
19,2009-07-09,30.185718,0.163667,30.650137,29.808269,30.260979,0.004954,7.289074e+06,neutral
52,2009-08-25,36.120046,0.132574,36.640911,35.764966,36.155285,0.005104,6.799715e+06,neutral
121,2009-12-02,39.372489,0.179186,39.722330,38.921244,39.190090,0.005126,6.119327e+06,neutral
136,2009-12-23,40.379887,0.229072,40.641244,39.932104,40.237715,0.004789,4.470901e+06,neutral
137,2009-12-24,40.595701,0.215814,40.762262,40.271425,40.458054,0.005443,1.875179e+06,neutral
173,2010-02-18,39.882190,0.272573,40.071964,39.306501,39.544537,0.005485,6.235484e+06,neutral
187,2010-03-10,41.514382,0.209798,41.801213,41.037775,41.326382,0.005110,7.337071e+06,neutral
221,2010-04-28,43.705865,0.216067,44.238112,43.149101,43.756787,0.004860,8.829739e+06,neutral
304,2010-08-25,39.492220,0.205830,39.699417,38.685045,39.024552,0.005150,7.013509e+06,neutral
315,2010-09-10,41.709170,0.196457,42.008520,41.290247,41.587713,0.004725,5.122626e+06,neutral
341,2010-10-18,44.951409,0.272796,45.182461,44.360336,44.676376,0.005105,7.119576e+06,neutral
355,2010-11-05,46.781745,0.259329,47.116935,46.187069,46.520000,0.004899,7.894661e+06,neutral
358,2010-11-10,46.570403,0.294004,46.780000,45.791767,46.269530,0.005238,6.621231e+06,neutral
396,2011-01-05,48.802031,0.272277,49.087589,48.099598,48.352991,0.005168,7.058521e+06,neutral
411,2011-01-27,49.830737,0.246004,50.092344,49.192254,49.623460,0.004790,7.101335e+06,neutral
417,2011-02-04,50.250893,0.206585,50.608817,49.639062,50.119777,0.004948,5.902218e+06,neutral
419,2011-02-08,50.835022,0.251629,51.090357,50.258304,50.603527,0.004843,5.488084e+06,neutral
446,2011-03-18,49.501911,0.171133,50.121178,49.161222,49.889667,0.004886,8.517302e+06,neutral
468,2011-04-19,51.268156,0.278378,51.582800,50.703844,51.084089,0.004782,5.737975e+06,neutral
470,2011-04-21,52.392067,0.304778,52.873468,51.915608,52.427342,0.005283,6.203442e+06,neutral
484,2011-05-12,52.941733,0.264800,53.210511,52.045822,52.539600,0.005372,6.337816e+06,neutral
528,2011-07-15,51.978980,0.452949,52.304701,51.334169,51.951397,0.004853,6.455457e+06,neutral
614,2011-11-15,49.727159,0.260286,50.112885,48.920463,49.300903,0.004635,6.024968e+06,neutral
635,2011-12-15,47.367396,0.239627,47.983720,46.970416,47.631444,0.005394,5.980976e+06,neutral
636,2011-12-16,47.628687,0.261291,48.279825,47.188425,47.722976,0.005490,8.711354e+06,neutral
809,2012-08-24,54.751000,0.310891,54.976348,54.065457,54.319370,0.004970,4.261837e+06,neutral
814,2012-08-31,54.655435,0.287261,55.056587,54.182174,54.697109,0.005344,4.645362e+06,neutral
818,2012-09-07,56.017130,0.410196,56.374174,55.376587,55.746891,0.005059,5.700366e+06,neutral
874,2012-11-29,55.894121,0.254295,56.315727,55.346855,55.802321,0.004553,5.453505e+06,neutral
...,...,...,...,...,...,...,...,...,...
1303,2014-08-14,78.863459,0.359266,79.244486,78.207966,78.657086,0.004999,3.020483e+06,neutral
1306,2014-08-19,79.893417,0.349937,80.263690,79.339832,79.712830,0.004788,3.209154e+06,neutral
1310,2014-08-25,80.464465,0.390734,80.936730,79.995451,80.459539,0.004589,2.687190e+06,neutral
1318,2014-09-05,80.786960,0.289581,81.023501,79.831447,80.434591,0.004590,3.597900e+06,neutral
1362,2014-11-06,81.120983,0.463682,81.567301,80.048996,80.674268,0.005178,4.274126e+06,neutral
1386,2014-12-11,81.592839,0.413424,82.667223,81.074843,81.541190,0.004838,4.383857e+06,neutral
1392,2014-12-19,83.096729,0.408875,83.822021,82.116167,82.895312,0.005012,7.389502e+06,neutral
1415,2015-01-26,83.714504,0.386687,84.081818,82.530537,83.231942,0.004949,4.115989e+06,neutral
1470,2015-04-15,86.512963,0.270247,87.272428,85.856502,86.496523,0.004650,4.365420e+06,neutral
1486,2015-05-07,85.204012,0.345658,85.833169,84.196337,84.831399,0.004530,4.261690e+06,neutral
1517,2015-06-22,86.666879,0.392772,87.337659,86.153922,86.798583,0.005137,3.645850e+06,neutral
1658,2016-01-12,78.488519,0.554361,79.344544,77.203590,78.576024,0.005191,5.647395e+06,neutral
1687,2016-02-24,78.479676,0.358117,78.781356,76.483988,77.399069,0.005456,5.042409e+06,neutral
1697,2016-03-09,80.876883,0.331498,81.580162,79.926518,80.862328,0.005082,4.480542e+06,neutral
1704,2016-03-18,83.421765,0.346633,84.241907,82.433225,83.358114,0.005362,7.754048e+06,neutral
1731,2016-04-27,85.403725,0.246235,86.065911,84.243725,85.089879,0.005020,4.975137e+06,neutral
1753,2016-05-27,85.844242,0.415596,86.222485,85.100545,85.516061,0.005388,3.326316e+06,neutral
1789,2016-07-20,88.681734,0.519435,89.190988,87.814617,88.414335,0.004633,4.095019e+06,neutral
1807,2016-08-15,89.539578,0.259056,90.093635,88.972008,89.410703,0.004758,3.305351e+06,neutral
1810,2016-08-18,89.338956,0.306586,89.757510,88.616004,89.061386,0.004826,3.971044e+06,neutral
1821,2016-09-02,88.946365,0.376908,89.564960,88.347028,88.951867,0.005359,3.355325e+06,neutral
1837,2016-09-27,88.439799,0.547430,88.883414,87.358755,87.898795,0.004523,4.039354e+06,neutral
1843,2016-10-05,88.138896,0.291687,88.890984,87.462490,88.119618,0.004966,4.525592e+06,neutral
1874,2016-11-17,88.658434,0.441727,89.341647,87.598554,88.270080,0.005284,4.936552e+06,neutral
1888,2016-12-08,90.882926,0.307575,91.601984,89.722685,90.592685,0.004529,4.999206e+06,neutral
1931,2017-02-10,93.537620,0.438840,94.070480,92.712480,93.306400,0.004871,4.209820e+06,neutral
1934,2017-02-15,94.629780,0.502840,95.023660,93.552400,94.012520,0.005383,4.493346e+06,neutral
1969,2017-04-06,94.933553,0.367166,95.449760,94.114431,94.659002,0.005086,3.856232e+06,neutral
1981,2017-04-25,96.826946,0.534132,97.407944,96.010040,96.596347,0.005126,4.597010e+06,neutral
2000,2017-05-22,97.444651,0.586108,97.975369,96.590958,97.107944,0.005277,3.692048e+06,neutral

In [18]:
SP500_df['Percent_Change_Class'].loc[SP500_df['Date']==dt.date(2009, 6, 19)].values

array(['neutral'], dtype=object)

In [19]:
def match_dates_and_get_stock_change(features_df, target_df):
    change = []

    for i in features_df['Date']:
        try:
            if i in list(target_df['Date']):
                change.append(target_df['Percent_Change_Class'].loc[target_df['Date']==i].values)
            elif i not in list(target_df['Date']):
                change.append('x')
                pass
        except Exception as e:
            print('Error:', e)
            
    return pd.DataFrame(change)

In [21]:
start = datetime.now()

change_df = match_dates_and_get_stock_change(tweets_df, SP500_df)

end = datetime.now()
print(end - start)

0:01:04.010730

In [22]:
change_df[0].value_counts()

down       61050
x          17571
up         12549
neutral     3686
Name: 0, dtype: int64

In [23]:
61050+17571+12549+3686

94856

**Now, we have our X's and y's**<br>
Our <u>Features</u> == Tweets (\_id, text, timestamp, username, cleaned_text, Date)<br>
Our <u>Target</u> == change in stock prices (up/down/neutral)<br>

They have the same number of rows and are in the same order, so our X and Y's are ready! Now, we just need to drop the rows where our X's and y's don't have a Date in common.

**Merge & drop rows where there's no stock data for Tweets**

In [24]:
combined_df_nodrop = tweets_df.merge(change_df, left_index=True, right_index=True)

In [25]:
combined_df_nodrop.head(5)

,_id,text,timestamp,username,Date,cleaned_text,0
0,593deb7057bbd4047664223e,"On this National Gun Violence Awareness Day, l...",2017-06-02 17:35:54,BarackObama,2017-06-02,on this national gun violence awareness day le...,down
1,593deb7057bbd4047664223f,Forever grateful for the service and sacrifice...,2017-05-29 13:09:16,BarackObama,2017-05-29,forever grateful for the service and sacrifice...,x
2,593deb7057bbd40476642240,Good to see my friend Prince Harry in London t...,2017-05-27 13:15:25,BarackObama,2017-05-27,good to see my friend prince harry in london t...,x
3,593deb7057bbd40476642241,"Through faith, love, and resolve the character...",2017-05-25 14:13:35,BarackObama,2017-05-25,through faith love and resolve the character o...,down
4,593deb7057bbd40476642242,Our hearts go out to those killed and wounded ...,2017-05-23 16:56:14,BarackObama,2017-05-23,our hearts go out to those killed and wounded ...,down

In [26]:
combined_df = combined_df_nodrop[combined_df_nodrop[0]!='x']

In [27]:
combined_df.head(5)

,_id,text,timestamp,username,Date,cleaned_text,0
0,593deb7057bbd4047664223e,"On this National Gun Violence Awareness Day, l...",2017-06-02 17:35:54,BarackObama,2017-06-02,on this national gun violence awareness day le...,down
3,593deb7057bbd40476642241,"Through faith, love, and resolve the character...",2017-05-25 14:13:35,BarackObama,2017-05-25,through faith love and resolve the character o...,down
4,593deb7057bbd40476642242,Our hearts go out to those killed and wounded ...,2017-05-23 16:56:14,BarackObama,2017-05-23,our hearts go out to those killed and wounded ...,down
5,593deb7057bbd40476642243,"Excited to hear from Sierra, Imani, Filiz, and...",2017-05-22 21:16:23,BarackObama,2017-05-22,excited to hear from sierra imani filiz and be...,neutral
7,593deb7057bbd40476642245,"We're rolling up our sleeves again, back where...",2017-05-03 19:42:16,BarackObama,2017-05-03,we re rolling up our sleeves again back where ...,down

In [28]:
pd.to_pickle(combined_df, '../Analyzing_Unstructured_Data_for_Finance/data/4.2.combined_df_SP500.pickle')

**Now split the data into X's and y's - our features and target**

In [29]:
X = combined_df.drop(0, axis=1)
y = combined_df[0]

In [30]:
print(X.shape)
print(y.shape)

(77285, 6)
(77285,)

In [31]:
77285.0/94856.0
# We kept 81% of original tweets (after dropping ones that don't match)

0.8147613224255714

In [32]:
pd.to_pickle(X, '../Analyzing_Unstructured_Data_for_Finance/data/4.2.X.pickle')

In [33]:
pd.to_pickle(y, '../Analyzing_Unstructured_Data_for_Finance/data/4.2.y_SP500.pickle')

In [34]:
combined_df[0].value_counts()

down       61050
up         12549
neutral     3686
Name: 0, dtype: int64

In [38]:
X_4_1 = pd.read_pickle('../Analyzing_Unstructured_Data_for_Finance/data/4.1.X.pickle')

In [39]:
X_4_2 = pd.read_pickle('../Analyzing_Unstructured_Data_for_Finance/data/4.2.X.pickle')

In [42]:
X_4_1.shape

(77283, 6)

In [43]:
X_4_2.shape

(77285, 6)