# Part 6 -- Combine Features and Target (AAPL)

Prepare data for **Singular Value Decomposition (SVD)**.

### Load lib codes:

In [514]:
!pwd

/home/jovyan/work/Portfolio/predicting_stock_market_trends_with_Twitter

In [517]:
from os import chdir
chdir('/home/jovyan/work/Portfolio/predicting_stock_market_trends_with_Twitter/')

from lib import *
# suppress_warnings()
from lib.twitter_keys import my_keys

In [518]:
AAPL_df = pd.read_pickle('../predicting_stock_market_trends_with_Twitter/data/AAPL_df.pickle')

In [519]:
X_tfidf = pd.read_pickle('../predicting_stock_market_trends_with_Twitter/data/X_tfidf.pickle')

In [520]:
tweets_df = pd.read_pickle('../predicting_stock_market_trends_with_Twitter/data/tweets_df')

### Pull Y's based on date, drop non-shared, then vectorize cleaned_text

In [521]:
AAPL_df.tail()

,Date,Open,High,Low,Close,Volume,Diff,Percent_Change,Percent_Change_Class
2365,2017-05-25,153.73,154.35,153.03,153.87,19235598,0.53,0.003444,down
2366,2017-05-26,154.00,154.24,153.31,153.61,21927637,-0.26,-0.001693,down
2367,2017-05-30,153.42,154.43,153.33,153.67,20126851,0.06,0.000390,down
2368,2017-05-31,153.97,154.17,152.38,152.76,24451164,-0.91,-0.005957,down
2369,2017-06-01,153.17,153.33,152.22,153.18,16404088,0.42,0.002742,down

In [522]:
len(AAPL_df)

2370

In [523]:
len(AAPL_df['Date'].unique())

2370

In [524]:
AAPL_df.shape

(2370, 9)

In [525]:
tweets_df.tail()

,_id,text,timestamp,username,Date,cleaned_text
87284,593592eb2c7311008078575e,Esports viewing shoots up but ad revenues have...,2017-05-08 17:45:52,FinancialTimes,2017-05-08,esports viewing shoots up but ad revenues have...
87285,593592eb2c7311008078575f,Coach hints at further deals after bagging Kat...,2017-05-08 17:45:52,FinancialTimes,2017-05-08,coach hints at further deals after bagging kat...
87286,593592eb2c73110080785760,Tyson shares hit by investigation into the pou...,2017-05-08 17:35:19,FinancialTimes,2017-05-08,tyson shares hit by investigation into the pou...
87287,593592eb2c73110080785761,BBA Aviation dips as Citigroup expresses cauti...,2017-05-08 17:35:19,FinancialTimes,2017-05-08,bba aviation dips as citigroup expresses caution
87288,593592eb2c73110080785762,Warnings of staff relocations after Brexit ris...,2017-05-08 17:30:25,FinancialTimes,2017-05-08,warnings of staff relocations after brexit ris...

In [526]:
print(AAPL_df['Date'][0])

2008-01-02

In [527]:
len(tweets_df['Date'].unique())

2578

In [528]:
min(tweets_df['Date'].unique())

datetime.date(2008, 9, 10)

In [529]:
len(AAPL_df['Date'].unique())

2370

In [530]:
len(tweets_df)

87289

In [531]:
tweets_df['Date'][3]

datetime.date(2017, 5, 25)

In [532]:
AAPL_df['Date'][2365]

datetime.date(2017, 5, 25)

In [533]:
tweets_df['Date'][3]==AAPL_df['Date'][2365]

True

In [534]:
if tweets_df['Date'][3] in list(AAPL_df['Date']):
    print('yes')
else:
    print('no')

yes

In [535]:
# yes = []
# no = []

# for i in tweets_df['Date']:
#     try:
#         if i in list(AAPL_df['Date']):
#             yes.append(i)
#         elif i not in list(AAPL_df['Date']):
#             no.append(i)
#     except:
#         print('ah')

# print(len(yes))
# print(len(no))

In [536]:
68006+19283

87289

In [537]:
AAPL_df['Percent_Change_Class'].value_counts()

down       1953
neutral     226
up          190
Name: Percent_Change_Class, dtype: int64

In [538]:
AAPL_df[AAPL_df['Percent_Change_Class']=='neutral']

,Date,Open,High,Low,Close,Volume,Diff,Percent_Change,Percent_Change_Class
20,2008-01-31,18.49,19.52,18.49,19.34,336417991,0.46,0.023785,neutral
42,2008-03-04,17.43,17.84,17.20,17.80,446345774,0.41,0.023034,neutral
49,2008-03-13,17.73,18.50,17.57,18.28,316058785,0.28,0.015317,neutral
59,2008-03-28,20.26,20.66,20.23,20.43,178829581,0.39,0.019090,neutral
65,2008-04-07,22.30,22.81,22.16,22.27,289771916,0.40,0.017961,neutral
68,2008-04-10,21.59,22.20,21.51,22.08,239122247,0.45,0.020380,neutral
77,2008-04-23,23.44,23.55,23.01,23.27,376047707,0.38,0.016330,neutral
81,2008-04-29,24.44,25.09,24.32,25.01,230868855,0.40,0.015994,neutral
85,2008-05-05,25.99,26.47,25.86,26.39,213639223,0.54,0.020462,neutral
90,2008-05-12,26.46,26.98,26.12,26.88,204841490,0.67,0.024926,neutral
93,2008-05-15,26.69,27.13,26.31,27.10,218301846,0.49,0.018081,neutral
99,2008-05-23,25.82,26.00,25.40,25.88,227001796,0.59,0.022798,neutral
107,2008-06-05,26.62,27.12,26.53,27.06,188860714,0.60,0.022173,neutral
110,2008-06-10,25.79,26.68,25.57,26.52,285234915,0.58,0.021870,neutral
121,2008-06-25,24.94,25.55,24.84,25.34,161112469,0.59,0.023283,neutral
129,2008-07-08,25.06,25.67,24.68,25.65,222172923,0.63,0.024561,neutral
135,2008-07-16,24.31,24.70,24.09,24.69,187015969,0.46,0.018631,neutral
142,2008-07-25,22.91,23.29,22.66,23.16,158378304,0.44,0.018998,neutral
144,2008-07-29,22.20,22.78,21.95,22.44,171060505,0.38,0.016934,neutral
145,2008-07-30,22.54,22.93,22.30,22.84,181315827,0.40,0.017513,neutral
150,2008-08-06,22.85,23.91,22.57,23.46,197865206,0.51,0.021739,neutral
153,2008-08-11,24.30,25.21,24.24,24.79,222825442,0.57,0.022993,neutral
154,2008-08-12,24.79,25.61,24.79,25.25,209105162,0.46,0.018218,neutral
185,2008-09-25,18.54,19.26,18.36,18.85,251510980,0.46,0.024403,neutral
223,2008-11-18,12.81,13.00,12.41,12.84,302588524,0.25,0.019470,neutral
257,2009-01-08,12.92,13.31,12.86,13.24,168365988,0.24,0.018127,neutral
274,2009-02-03,13.13,13.34,12.90,13.28,149860816,0.21,0.015813,neutral
281,2009-02-12,13.69,14.25,13.69,14.18,204335663,0.35,0.024683,neutral
304,2009-03-18,14.27,14.78,14.25,14.50,199050355,0.26,0.017931,neutral
317,2009-04-06,16.42,16.96,16.18,16.92,164515624,0.35,0.020686,neutral
...,...,...,...,...,...,...,...,...,...
1942,2015-09-21,113.67,115.37,113.66,115.21,46554289,1.76,0.015276,neutral
1956,2015-10-09,111.64,112.28,109.49,112.12,52533783,2.62,0.023368,neutral
1963,2015-10-20,111.34,114.17,110.82,113.77,48778770,2.04,0.017931,neutral
1965,2015-10-22,114.33,115.50,114.10,115.50,41272693,1.74,0.015065,neutral
1982,2015-11-16,111.38,114.24,111.00,114.18,37651022,1.84,0.016115,neutral
2011,2015-12-29,106.96,109.43,106.86,108.74,30931243,1.92,0.017657,neutral
2019,2016-01-11,98.97,99.06,97.34,98.53,49739377,1.57,0.015934,neutral
2022,2016-01-14,97.96,100.48,95.74,99.52,62424154,2.13,0.021403,neutral
2035,2016-02-03,95.00,96.84,94.08,96.35,45366710,1.87,0.019408,neutral
2044,2016-02-17,96.67,98.21,96.15,98.12,44390173,1.48,0.015084,neutral
2063,2016-03-15,103.96,105.18,103.85,104.58,40067734,2.06,0.019698,neutral
2072,2016-03-29,104.89,107.79,104.88,107.68,30774115,2.49,0.023124,neutral
2073,2016-03-30,108.65,110.42,108.60,109.56,45159861,1.88,0.017160,neutral
2097,2016-05-03,94.20,95.74,93.68,95.18,56533960,1.54,0.016180,neutral
2112,2016-05-24,97.22,98.09,96.84,97.90,35036561,1.47,0.015015,neutral
2113,2016-05-25,98.67,99.74,98.11,99.62,38168760,1.72,0.017266,neutral
2136,2016-06-28,92.90,93.66,92.14,93.59,40444914,1.55,0.016562,neutral
2147,2016-07-14,97.39,98.99,97.32,98.79,38918997,1.92,0.019435,neutral
2159,2016-08-01,104.41,106.15,104.41,106.05,38167871,1.84,0.017350,neutral
2188,2016-09-12,102.65,105.72,102.53,105.44,45292770,2.31,0.021908,neutral
2189,2016-09-13,107.51,108.79,107.24,107.95,62176190,2.51,0.023252,neutral
2208,2016-10-10,115.02,116.75,114.72,116.05,36235956,1.99,0.017148,neutral
2251,2016-12-09,112.31,114.70,112.31,113.95,34402627,1.83,0.016060,neutral
2253,2016-12-13,113.84,115.92,113.75,115.19,43733811,1.89,0.016408,neutral
2281,2017-01-25,120.42,122.10,120.28,121.88,32586673,1.91,0.015671,neutral
2305,2017-03-01,137.89,140.15,137.60,139.79,36414585,2.80,0.020030,neutral
2324,2017-03-28,140.91,144.04,140.62,143.80,33374805,2.92,0.020306,neutral
2347,2017-05-01,145.10,147.20,144.96,146.58,33602943,2.93,0.019989,neutral
2351,2017-05-05,146.76,148.98,146.76,148.96,27327725,2.43,0.016313,neutral
2360,2017-05-18,151.27,153.34,151.13,152.54,33568215,2.29,0.015012,neutral

In [539]:
import datetime as dt
from datetime import datetime

In [540]:
tweets_df.loc[tweets_df['Date']==dt.date(2017, 5, 18)]

,_id,text,timestamp,username,Date,cleaned_text
1567,5935926856753600d03f9eeb,Tad Cummins indicted on federal charges. The f...,2017-05-18 23:58:13,cnnbrk,2017-05-18,tad cummins indicted on federal charges the fo...
1569,5935926856753600d03f9eec,RT @cnni: First on CNN: Rep. Devin Nunes is st...,2017-05-18 22:35:25,cnnbrk,2017-05-18,rt cnni first on cnn rep devin nunes is still ...
1571,5935926856753600d03f9eed,US demand is behind Mexico's bloody war on dru...,2017-05-18 22:15:52,cnnbrk,2017-05-18,us demand is behind mexico s bloody war on dru...
1574,5935926856753600d03f9eee,RT @CNNPolitics: First on CNN: Investigators o...,2017-05-18 21:55:21,cnnbrk,2017-05-18,rt cnnpolitics first on cnn investigators on t...
1576,5935926856753600d03f9eef,RT @CNNPolitics: The US summoned the Turkish a...,2017-05-18 21:54:52,cnnbrk,2017-05-18,rt cnnpolitics the us summoned the turkish amb...
1578,5935926856753600d03f9ef0,Did Trump ask FBI Director James Comey to end ...,2017-05-18 20:41:54,cnnbrk,2017-05-18,did trump ask fbi director james comey to end ...
1580,5935926856753600d03f9ef1,"RT @TheLeadCNN: President Trump says, ""Believe...",2017-05-18 20:29:21,cnnbrk,2017-05-18,rt theleadcnn president trump says believe me ...
1582,5935926856753600d03f9ef2,"RT @TheLeadCNN: President Trump: ""My administr...",2017-05-18 20:16:21,cnnbrk,2017-05-18,rt theleadcnn president trump my administratio...
1584,5935926856753600d03f9ef3,RT @CNNMoney: Stocks recover. Dow gains 56 poi...,2017-05-18 20:04:44,cnnbrk,2017-05-18,rt cnnmoney stocks recover dow gains 56 points...
1586,5935926856753600d03f9ef4,RT @CNNPolitics: President Trump is set to fac...,2017-05-18 19:56:08,cnnbrk,2017-05-18,rt cnnpolitics president trump is set to face ...
1588,5935926856753600d03f9ef5,RT @CNNPolitics: Sen. Rubio on President Trump...,2017-05-18 19:47:39,cnnbrk,2017-05-18,rt cnnpolitics sen rubio on president trump s ...
1591,5935926856753600d03f9ef6,Trump warns the investigation into alleged lin...,2017-05-18 19:45:07,cnnbrk,2017-05-18,trump warns the investigation into alleged lin...
1593,5935926856753600d03f9ef7,"Trump says he's ""very close"" to naming new FBI...",2017-05-18 18:56:52,cnnbrk,2017-05-18,trump says he s very close to naming new fbi d...
1595,5935926856753600d03f9ef8,Suicide determined as the cause of death of So...,2017-05-18 18:12:37,cnnbrk,2017-05-18,suicide determined as the cause of death of so...
1597,5935926856753600d03f9ef9,Senate intel chair says Flynn hasn't said how ...,2017-05-18 17:30:23,cnnbrk,2017-05-18,senate intel chair says flynn hasn t said how ...
1599,5935926856753600d03f9efa,Motor vehicle incident in New York's Times Squ...,2017-05-18 17:02:18,cnnbrk,2017-05-18,motor vehicle incident in new york s times squ...
1602,5935926856753600d03f9efb,Car plows into several people in New York's Ti...,2017-05-18 16:35:08,cnnbrk,2017-05-18,car plows into several people in new york s ti...
1604,5935926856753600d03f9efc,Trump tweets on appointment of special counsel...,2017-05-18 13:06:54,cnnbrk,2017-05-18,trump tweets on appointment of special counsel...
1606,5935926856753600d03f9efd,"RT @CNNMoney: BREAKING: Roger Ailes, who built...",2017-05-18 12:52:52,cnnbrk,2017-05-18,rt cnnmoney breaking roger ailes who built fox...
1608,5935926856753600d03f9efe,"Man mistakenly freed from prison, rearrested, ...",2017-05-18 09:26:31,cnnbrk,2017-05-18,man mistakenly freed from prison rearrested th...
1610,5935926856753600d03f9eff,"Chris Cornell, lead singer of Soundgarden and ...",2017-05-18 08:08:02,cnnbrk,2017-05-18,chris cornell lead singer of soundgarden and a...
1612,5935926856753600d03f9f00,Cargo-passenger ferry service linking Russia a...,2017-05-18 05:39:26,cnnbrk,2017-05-18,cargo passenger ferry service linking russia a...
1614,5935926856753600d03f9f01,Tulsa officer who fatally shot unarmed black m...,2017-05-18 02:57:41,cnnbrk,2017-05-18,tulsa officer who fatally shot unarmed black m...
5648,5935926e2c7311008077b556,Foreign aid gives American taxpayers a phenome...,2017-05-18 17:15:35,BillGates,2017-05-18,foreign aid gives american taxpayers a phenome...
5649,5935926e2c7311008077b557,An incredible feat...Thanks to India’s leaders...,2017-05-18 02:26:01,BillGates,2017-05-18,an incredible feat thanks to india s leadershi...
7761,5935927156753600d03faaa5,A great honor to welcome President Juan Manuel...,2017-05-18 22:45:15,realDonaldTrump,2017-05-18,a great honor to welcome president juan manuel...
7762,5935927156753600d03faaa6,With all of the illegal acts that took place i...,2017-05-18 14:07:06,realDonaldTrump,2017-05-18,with all of the illegal acts that took place i...
7763,5935927156753600d03faaa7,This is the single greatest witch hunt of a po...,2017-05-18 11:52:14,realDonaldTrump,2017-05-18,this is the single greatest witch hunt of a po...
13618,593592792c7311008077c52e,The Lib Dems have put the EU at the centre of ...,2017-05-18 23:44:53,TheEconomist,2017-05-18,the lib dems have put the eu at the centre of ...
13620,593592792c7311008077c52f,"Rather than resist it, Israel should be the fo...",2017-05-18 23:28:23,TheEconomist,2017-05-18,rather than resist it israel should be the for...
...,...,...,...,...,...,...
85248,593592e82c73110080785283,"Asia’s Trump trade stocks sink, lead markets l...",2017-05-18 05:04:37,FinancialTimes,2017-05-18,asia s trump trade stocks sink lead markets lo...
85249,593592e82c73110080785284,"Fast Europe Open: UK retail sales, ECB meeting...",2017-05-18 04:57:52,FinancialTimes,2017-05-18,fast europe open uk retail sales ecb meeting m...
85250,593592e82c73110080785285,Trump’s crisis launches a thousand Watergate r...,2017-05-18 04:45:20,FinancialTimes,2017-05-18,trump s crisis launches a thousand watergate r...
85251,593592e82c73110080785286,Austria’s far right gets another shot at power...,2017-05-18 04:45:19,FinancialTimes,2017-05-18,austria s far right gets another shot at power...
85252,593592e82c73110080785287,"Lloyds CEO snaps up £36,000 of shares after re...",2017-05-18 04:43:07,FinancialTimes,2017-05-18,lloyds ceo snaps up 36 000 of shares after rep...
85253,593592e82c73110080785288,UK insurers to be hit by radical shake-up of a...,2017-05-18 04:36:17,FinancialTimes,2017-05-18,uk insurers to be hit by radical shake up of a...
85254,593592e82c73110080785289,BlackRock bets on Aladdin as genie of growth h...,2017-05-18 04:09:24,FinancialTimes,2017-05-18,blackrock bets on aladdin as genie of growth
85255,593592e82c7311008078528a,PE: Old and in the way? https://t.co/PLA8xZfpkc,2017-05-18 04:04:54,FinancialTimes,2017-05-18,pe old and in the way
85256,593592e82c7311008078528b,Election to determine fate of Iran’s economic ...,2017-05-18 04:04:54,FinancialTimes,2017-05-18,election to determine fate of iran s economic ...
85257,593592e82c7311008078528c,Nuclear plant nears completion after huge dela...,2017-05-18 04:04:54,FinancialTimes,2017-05-18,nuclear plant nears completion after huge delays
85258,593592e82c7311008078528d,"Philip Stephens: Crises, chaos and the world a...",2017-05-18 04:04:42,FinancialTimes,2017-05-18,philip stephens crises chaos and the world acc...
85259,593592e82c7311008078528e,Opec meets with shrunken ambitions https://t.c...,2017-05-18 04:03:36,FinancialTimes,2017-05-18,opec meets with shrunken ambitions
85260,593592e82c7311008078528f,"Showtunes, securities fraud and a haunted hove...",2017-05-18 04:03:35,FinancialTimes,2017-05-18,showtunes securities fraud and a haunted hover...
85261,593592e82c73110080785290,Passive’s aggressive march poses thorny questi...,2017-05-18 03:03:45,FinancialTimes,2017-05-18,passive s aggressive march poses thorny questi...
85262,593592e82c73110080785291,Japan scores longest GDP growth run in more th...,2017-05-18 03:03:34,FinancialTimes,2017-05-18,japan scores longest gdp growth run in more th...
85263,593592e82c73110080785292,Murder case highlights property money trail fr...,2017-05-18 03:03:34,FinancialTimes,2017-05-18,murder case highlights property money trail fr...
85264,593592e82c73110080785293,China property price growth slows in top citie...,2017-05-18 03:03:00,FinancialTimes,2017-05-18,china property price growth slows in top cities
85265,593592e82c73110080785294,Noble Group eyes third straight day of gains h...,2017-05-18 03:00:41,FinancialTimes,2017-05-18,noble group eyes third straight day of gains
85266,593592e82c73110080785295,US political turmoil hits Asia markets https:/...,2017-05-18 02:39:12,FinancialTimes,2017-05-18,us political turmoil hits asia markets
85267,593592e82c73110080785296,Tencent hits record high after strong Q1 profi...,2017-05-18 02:27:46,FinancialTimes,2017-05-18,tencent hits record high after strong q1 profit
85268,593592e82c73110080785297,Philippines GDP growth slows in Q1 https://t.c...,2017-05-18 02:23:19,FinancialTimes,2017-05-18,philippines gdp growth slows in q1
85269,593592e82c73110080785298,Australia’s jobs growth tops forecasts in Apri...,2017-05-18 01:52:17,FinancialTimes,2017-05-18,australia s jobs growth tops forecasts in april
85270,593592e82c73110080785299,“Trump fade” continues as stock markets across...,2017-05-18 01:49:59,FinancialTimes,2017-05-18,trump fade continues as stock markets across ...
85271,593592e82c7311008078529a,How the Trump trade became the Trump fade http...,2017-05-18 01:00:45,FinancialTimes,2017-05-18,how the trump trade became the trump fade
85272,593592e82c7311008078529b,Mexico’s worsening violence dogs Peña Nieto ht...,2017-05-18 00:36:43,FinancialTimes,2017-05-18,mexico s worsening violence dogs peña nieto
85273,593592e82c7311008078529c,Asia stocks follow Wall Street lower in early ...,2017-05-18 00:31:22,FinancialTimes,2017-05-18,asia stocks follow wall street lower in early ...
85274,593592e82c7311008078529d,Hellman &amp; Friedman makes $2.2bn bid for Au...,2017-05-18 00:16:04,FinancialTimes,2017-05-18,hellman amp friedman makes 2 2bn bid for austr...
85275,593592e82c7311008078529e,Watch the build-up in US student debt https://...,2017-05-18 00:14:21,FinancialTimes,2017-05-18,watch the build up in us student debt
85276,593592e82c7311008078529f,Japan Q1 GDP beats expectations as domestic co...,2017-05-18 00:09:26,FinancialTimes,2017-05-18,japan q1 gdp beats expectations as domestic co...
86476,593592ea56753600d0404291,Thanks @JamesRath @PintSzDiva @RikkiPoynter fo...,2017-05-18 02:13:08,tim_cook,2017-05-18,thanks jamesrath pintszdiva rikkipoynter for v...

In [541]:
test = dt.date(2017, 5, 18)

In [542]:
if test in list(AAPL_df['Date']):
    print(test)

2017-05-18

In [543]:
AAPL_df['Percent_Change_Class'].loc[AAPL_df['Date']==dt.date(2017, 5, 18)].values

array(['neutral'], dtype=object)

In [544]:
tweets_df.loc[tweets_df['Date']==dt.date(2017, 5, 18)].values

array([[ObjectId('5935926856753600d03f9eeb'),
        'Tad Cummins indicted on federal charges. The former Tennessee teacher is accused of abducting a 15-year-old student… https://t.co/sRRff94g0Z',
        Timestamp('2017-05-18 23:58:13'), 'cnnbrk',
        datetime.date(2017, 5, 18),
        'tad cummins indicted on federal charges the former tennessee teacher is accused of abducting a 15 year old student '],
       [ObjectId('5935926856753600d03f9eec'),
        'RT @cnni: First on CNN: Rep. Devin Nunes is still reviewing Russia intelligence, despite his recusal from probe https://t.co/wrFBTnabhi htt…',
        Timestamp('2017-05-18 22:35:25'), 'cnnbrk',
        datetime.date(2017, 5, 18),
        'rt cnni first on cnn rep devin nunes is still reviewing russia intelligence despite his recusal from probe htt '],
       [ObjectId('5935926856753600d03f9eed'),
        'US demand is behind Mexico\'s bloody war on drugs, Sec. Tillerson says. "Americans must own this problem. It is ours… https://t.co/hi63PHrIii',
        Timestamp('2017-05-18 22:15:52'), 'cnnbrk',
        datetime.date(2017, 5, 18),
        'us demand is behind mexico s bloody war on drugs sec tillerson says americans must own this problem it is ours '],
       ...,
       [ObjectId('593592e82c7311008078529e'),
        'Watch the build-up in US student debt https://t.co/uOMpMfLXIp',
        Timestamp('2017-05-18 00:14:21'), 'FinancialTimes',
        datetime.date(2017, 5, 18),
        'watch the build up in us student debt '],
       [ObjectId('593592e82c7311008078529f'),
        'Japan Q1 GDP beats expectations as domestic consumption rises https://t.co/wbgzDlgp6R',
        Timestamp('2017-05-18 00:09:26'), 'FinancialTimes',
        datetime.date(2017, 5, 18),
        'japan q1 gdp beats expectations as domestic consumption rises '],
       [ObjectId('593592ea56753600d0404291'),
        'Thanks @JamesRath @PintSzDiva @RikkiPoynter for visiting Apple for #GAAD! Great conversations about the importance… https://t.co/SKwx5qDMu5',
        Timestamp('2017-05-18 02:13:08'), 'tim_cook',
        datetime.date(2017, 5, 18),
        'thanks jamesrath pintszdiva rikkipoynter for visiting apple for gaad great conversations about the importance ']], dtype=object)

In [545]:
len(tweets_df['Date'])

87289

In [546]:
change = []

for i in tweets_df['Date'][0:1568]:
    if i in list(AAPL_df['Date']):
        change.append(AAPL_df['Percent_Change_Class'].loc[AAPL_df['Date']==i].values)
    elif i not in list(AAPL_df['Date']):
        change.append('Stock not available for this date')
        pass
        
change_df = pd.DataFrame(change)
change_df

                                      0
0     Stock not available for this date
1     Stock not available for this date
2     Stock not available for this date
3                                [down]
4                                [down]
5                                [down]
6     Stock not available for this date
7                                [down]
8                                [down]
9                                [down]
10                               [down]
11    Stock not available for this date
12                               [down]
13                               [down]
14                               [down]
15                               [down]
16                               [down]
17    Stock not available for this date
18                               [down]
19                               [down]
20                               [down]
21                               [down]
22    Stock not available for this date
23    Stock not available for this date
24                               [down]
25                               [down]
26                               [down]
27                               [down]
28                               [down]
29                               [down]
...                                 ...
1538                             [down]
1539                             [down]
1540                             [down]
1541                             [down]
1542                             [down]
1543                             [down]
1544                             [down]
1545                             [down]
1546                             [down]
1547                             [down]
1548                             [down]
1549                             [down]
1550                             [down]
1551                             [down]
1552                             [down]
1553                             [down]
1554                             [down]
1555                             [down]
1556                             [down]
1557                             [down]
1558                             [down]
1559                             [down]
1560                             [down]
1561                             [down]
1562                             [down]
1563                             [down]
1564  Stock not available for this date
1565                             [down]
1566  Stock not available for this date
1567                          [neutral]

[1568 rows x 1 columns]

In [547]:
def match_dates_and_get_stock_change(features_df, target_df):
    change = []

    for i in features_df['Date']:
        try:
            if i in list(target_df['Date']):
                change.append(target_df['Percent_Change_Class'].loc[target_df['Date']==i].values)
            elif i not in list(target_df['Date']):
                change.append('Stock not available for this date')
                pass
        except Exception as e:
            print('Error:', e)
            
    return pd.DataFrame(change)

In [548]:
start = datetime.now()

change_df = match_dates_and_get_stock_change(tweets_df, AAPL_df)

end = datetime.now()
print(end - start)

0:01:01.445334

In [549]:
change_df[0].value_counts()

[down]                               61112
Stock not available for this date    19283
[neutral]                             4959
[up]                                  1935
Name: 0, dtype: int64

In [550]:
61112+19283+4959+1935

87289

### Now, we have our X's and y's:
* **FEATURES (X's)** == tweets (\_id, text, timestamp, username, cleaned_text, Date) 
* **TARGET (y's)** == change in stock prices (BUY/SELL/NEUTRAL)

They have the same number of rows and are in the same order, so our X and Y's are already split.

### Merge & drop rows where there's no stock data for Tweets:

In [551]:
combined_df_nodrop = tweets_df.merge(change_df, left_index=True, right_index=True)

In [552]:
combined_df_nodrop

,_id,text,timestamp,username,Date,cleaned_text,0
0,593592642c7311008077a8a5,"On this National Gun Violence Awareness Day, l...",2017-06-02 17:35:54,BarackObama,2017-06-02,on this national gun violence awareness day le...,Stock not available for this date
1,593592642c7311008077a8a6,Forever grateful for the service and sacrifice...,2017-05-29 13:09:16,BarackObama,2017-05-29,forever grateful for the service and sacrifice...,Stock not available for this date
2,593592642c7311008077a8a7,Good to see my friend Prince Harry in London t...,2017-05-27 13:15:25,BarackObama,2017-05-27,good to see my friend prince harry in london t...,Stock not available for this date
3,593592642c7311008077a8a8,"Through faith, love, and resolve the character...",2017-05-25 14:13:35,BarackObama,2017-05-25,through faith love and resolve the character o...,[down]
4,593592642c7311008077a8a9,Our hearts go out to those killed and wounded ...,2017-05-23 16:56:14,BarackObama,2017-05-23,our hearts go out to those killed and wounded ...,[down]
5,593592642c7311008077a8aa,"Excited to hear from Sierra, Imani, Filiz, and...",2017-05-22 21:16:23,BarackObama,2017-05-22,excited to hear from sierra imani filiz and be...,[down]
6,593592642c7311008077a8ab,Happy Mother's Day to my love and partner on t...,2017-05-14 14:01:16,BarackObama,2017-05-14,happy mother s day to my love and partner on t...,Stock not available for this date
7,593592642c7311008077a8ac,"We're rolling up our sleeves again, back where...",2017-05-03 19:42:16,BarackObama,2017-05-03,we re rolling up our sleeves again back where ...,[down]
8,593592642c7311008077a8ad,"Well said, Jimmy. That's exactly why we fought...",2017-05-02 17:19:26,BarackObama,2017-05-02,well said jimmy that s exactly why we fought s...,[down]
9,593592642c7311008077a8ae,RT @ObamaFoundation: It’s a beautiful day on t...,2017-04-24 19:48:17,BarackObama,2017-04-24,rt obamafoundation it s a beautiful day on the...,[down]
10,593592642c7311008077a8af,My heart goes out to the victims and their fam...,2017-03-23 13:00:20,BarackObama,2017-03-23,my heart goes out to the victims and their fam...,[down]
11,593592642c7311008077a8b0,Chuck Berry rolled over everyone who came befo...,2017-03-19 15:51:23,BarackObama,2017-03-19,chuck berry rolled over everyone who came befo...,Stock not available for this date
12,593592642c7311008077a8b1,"On International Women’s Day, @MichelleObama a...",2017-03-08 21:14:58,BarackObama,2017-03-08,on international women s day michelleobama and...,[down]
13,593592642c7311008077a8b2,RT @ObamaFoundation: Courage comes in many for...,2017-03-02 19:00:04,BarackObama,2017-03-02,rt obamafoundation courage comes in many forms...,[down]
14,593592642c7311008077a8b3,Humbled to be recognized by a family with a le...,2017-03-02 15:22:07,BarackObama,2017-03-02,humbled to be recognized by a family with a le...,[down]
15,593592642c7311008077a8b4,We asked. You answered. https://t.co/mAJvko6VqR,2017-02-17 19:37:55,BarackObama,2017-02-17,we asked you answered,[down]
16,593592642c7311008077a8b5,"Happy Valentine’s Day, @michelleobama! Almost ...",2017-02-14 15:34:47,BarackObama,2017-02-14,happy valentine s day michelleobama almost 28 ...,[down]
17,593592642c7311008077a8b6,I read letters like these every single day. It...,2017-01-22 18:07:02,BarackObama,2017-01-22,i read letters like these every single day it ...,Stock not available for this date
18,593592642c7311008077a8b7,RT @ObamaFoundation: Add your voice: https://t...,2017-01-20 21:17:01,BarackObama,2017-01-20,rt obamafoundation add your voice,[down]
19,593592642c7311008077a8b8,"In the meantime, I want to hear what you're th...",2017-01-20 21:05:04,BarackObama,2017-01-20,in the meantime i want to hear what you re thi...,[down]
20,593592642c7311008077a8b9,Hi everybody! Back to the original handle. Is ...,2017-01-20 21:04:08,BarackObama,2017-01-20,hi everybody back to the original handle is th...,[down]
21,593592642c7311008077a8ba,"Tonight, President Obama reflects on eight yea...",2017-01-10 23:44:14,BarackObama,2017-01-10,tonight president obama reflects on eight year...,[down]
22,593592642c7311008077a8bb,"RT @OFA: ""Thanks to the Affordable Care Act, y...",2016-11-05 16:31:13,BarackObama,2016-11-05,rt ofa thanks to the affordable care act your ...,Stock not available for this date
23,593592642c7311008077a8bc,"In the weekly address, President Obama discuss...",2016-11-05 15:38:53,BarackObama,2016-11-05,in the weekly address president obama discusse...,Stock not available for this date
24,593592642c7311008077a8bd,Let's keep working to keep our economy on a be...,2016-11-04 22:16:14,BarackObama,2016-11-04,let s keep working to keep our economy on a be...,[down]
25,593592642c7311008077a8be,The landmark #ParisAgreement enters into force...,2016-11-04 18:25:16,BarackObama,2016-11-04,the landmark parisagreement enters into force ...,[down]
26,593592642c7311008077a8bf,"The economy added 161,000 jobs in October, and...",2016-11-04 16:12:12,BarackObama,2016-11-04,the economy added 161 000 jobs in october and ...,[down]
27,593592642c7311008077a8c0,There are a lot of plans out there. Check your...,2016-11-03 21:02:36,BarackObama,2016-11-03,there are a lot of plans out there check your ...,[down]
28,593592642c7311008077a8c1,The positive impact of #Obamacare is undeniabl...,2016-11-03 19:08:49,BarackObama,2016-11-03,the positive impact of obamacare is undeniable...,[down]
29,593592642c7311008077a8c2,RT @POTUS: It happened: @Cubs win World Series...,2016-11-03 17:22:00,BarackObama,2016-11-03,rt potus it happened cubs win world series tha...,[down]
...,...,...,...,...,...,...,...
87259,593592eb2c73110080785745,Pandora hunts for buyer as losses steepen http...,2017-05-09 00:04:41,FinancialTimes,2017-05-09,pandora hunts for buyer as losses steepen,[down]
87260,593592eb2c73110080785746,OCBC profit rises 14% in Q1 on wealth manageme...,2017-05-08 23:47:31,FinancialTimes,2017-05-08,ocbc profit rises 14 in q1 on wealth managemen...,[up]
87261,593592eb2c73110080785747,Wall Street’s fear gauge falls to lowest level...,2017-05-08 23:39:39,FinancialTimes,2017-05-08,wall street s fear gauge falls to lowest level...,[up]
87262,593592eb2c73110080785748,Yen steadies after weakening past ¥113 overnig...,2017-05-08 23:14:45,FinancialTimes,2017-05-08,yen steadies after weakening past 113 overnight,[up]
87263,593592eb2c73110080785749,Fast Asia Open: South Korea presidential elect...,2017-05-08 22:54:12,FinancialTimes,2017-05-08,fast asia open south korea presidential electi...,[up]
87264,593592eb2c7311008078574a,Start-up trading venue trueEX sues Markit http...,2017-05-08 22:13:53,FinancialTimes,2017-05-08,start up trading venue trueex sues markit,[up]
87265,593592eb2c7311008078574b,"Sturm, Ruger &amp; Co says gun demand slid aft...",2017-05-08 22:09:18,FinancialTimes,2017-05-08,sturm ruger amp co says gun demand slid after ...,[up]
87266,593592eb2c7311008078574c,Trump warned about Flynn’s Russian blackmail r...,2017-05-08 22:02:07,FinancialTimes,2017-05-08,trump warned about flynn s russian blackmail r...,[up]
87267,593592eb2c7311008078574d,Post shares sapped by soggy sales https://t.co...,2017-05-08 21:47:50,FinancialTimes,2017-05-08,post shares sapped by soggy sales,[up]
87268,593592eb2c7311008078574e,Pandora raises $150m from KKR to explore sale ...,2017-05-08 21:36:26,FinancialTimes,2017-05-08,pandora raises 150m from kkr to explore sale,[up]
87269,593592eb2c7311008078574f,Trump donor Robert Mercer sued by fired employ...,2017-05-08 21:19:18,FinancialTimes,2017-05-08,trump donor robert mercer sued by fired employee,[up]
87270,593592eb2c73110080785750,"DoubleLine’s Gundlach bearish on US stocks, bu...",2017-05-08 21:07:18,FinancialTimes,2017-05-08,doubleline s gundlach bearish on us stocks bul...,[up]
87271,593592eb2c73110080785751,Bon-Ton replaces chief executive amid departme...,2017-05-08 21:00:31,FinancialTimes,2017-05-08,bon ton replaces chief executive amid departme...,[up]
87272,593592eb2c73110080785752,Hertz shares skid on wider-than-expected loss ...,2017-05-08 21:00:31,FinancialTimes,2017-05-08,hertz shares skid on wider than expected loss,[up]
87273,593592eb2c73110080785753,Carmakers take direct route to Indian middle c...,2017-05-08 20:30:18,FinancialTimes,2017-05-08,carmakers take direct route to indian middle c...,[up]
87274,593592eb2c73110080785754,Glencore and Tohoku agree Australian coal pric...,2017-05-08 20:26:18,FinancialTimes,2017-05-08,glencore and tohoku agree australian coal price,[up]
87275,593592eb2c73110080785755,"China’s $100bn agribusiness, Macron’s momentum...",2017-05-08 20:26:18,FinancialTimes,2017-05-08,china s 100bn agribusiness macron s momentum s...,[up]
87276,593592eb2c73110080785756,US stocks pause for breath as Apple rises and ...,2017-05-08 20:25:11,FinancialTimes,2017-05-08,us stocks pause for breath as apple rises and ...,[up]
87277,593592eb2c73110080785757,Algebris head Serra says shorting gilts safest...,2017-05-08 19:39:30,FinancialTimes,2017-05-08,algebris head serra says shorting gilts safest...,[up]
87278,593592eb2c73110080785758,US tuna probe nets guilty plea from Lion Capit...,2017-05-08 19:22:21,FinancialTimes,2017-05-08,us tuna probe nets guilty plea from lion capit...,[up]
87279,593592eb2c73110080785759,Numis wisely seeks more than just Alfa in fund...,2017-05-08 19:13:10,FinancialTimes,2017-05-08,numis wisely seeks more than just alfa in fund...,[up]
87280,593592eb2c7311008078575a,Bill Clinton and crime writer to pen White Hou...,2017-05-08 18:28:43,FinancialTimes,2017-05-08,bill clinton and crime writer to pen white hou...,[up]
87281,593592eb2c7311008078575b,Duterte plays cat-and-mouse game with US and C...,2017-05-08 17:56:03,FinancialTimes,2017-05-08,duterte plays cat and mouse game with us and c...,[up]
87282,593592eb2c7311008078575c,Goldman shakes up investment bank leadership h...,2017-05-08 17:51:17,FinancialTimes,2017-05-08,goldman shakes up investment bank leadership,[up]
87283,593592eb2c7311008078575d,"FT View: Buffett, the Brazilians and chainsaw ...",2017-05-08 17:49:42,FinancialTimes,2017-05-08,ft view buffett the brazilians and chainsaw ca...,[up]
87284,593592eb2c7311008078575e,Esports viewing shoots up but ad revenues have...,2017-05-08 17:45:52,FinancialTimes,2017-05-08,esports viewing shoots up but ad revenues have...,[up]
87285,593592eb2c7311008078575f,Coach hints at further deals after bagging Kat...,2017-05-08 17:45:52,FinancialTimes,2017-05-08,coach hints at further deals after bagging kat...,[up]
87286,593592eb2c73110080785760,Tyson shares hit by investigation into the pou...,2017-05-08 17:35:19,FinancialTimes,2017-05-08,tyson shares hit by investigation into the pou...,[up]
87287,593592eb2c73110080785761,BBA Aviation dips as Citigroup expresses cauti...,2017-05-08 17:35:19,FinancialTimes,2017-05-08,bba aviation dips as citigroup expresses caution,[up]
87288,593592eb2c73110080785762,Warnings of staff relocations after Brexit ris...,2017-05-08 17:30:25,FinancialTimes,2017-05-08,warnings of staff relocations after brexit ris...,[up]

In [553]:
combined_df_nodrop[1566:1568]

,_id,text,timestamp,username,Date,cleaned_text,0
1566,593592682c7311008077ad7d,"In the weekly address, President Obama discuss...",2015-11-07 16:58:54,BarackObama,2015-11-07,in the weekly address president obama discusse...,Stock not available for this date
1567,5935926856753600d03f9eeb,Tad Cummins indicted on federal charges. The f...,2017-05-18 23:58:13,cnnbrk,2017-05-18,tad cummins indicted on federal charges the fo...,[neutral]

In [554]:
pd.to_pickle(combined_df_nodrop, '../predicting_stock_market_trends_with_Twitter/data/combined_df_nodrop_AAPL.pickle')

In [555]:
combined_df = combined_df_nodrop[combined_df_nodrop[0]!='Stock not available for this date']

In [556]:
pd.to_pickle(combined_df, '../predicting_stock_market_trends_with_Twitter/data/combined_df_AAPL.pickle')

In [557]:
X = combined_df.drop(0, axis=1)
y = combined_df[0]

In [558]:
type(y)

pandas.core.series.Series

In [559]:
print(X.shape)
print(y.shape)

(68006, 6)
(68006,)

In [560]:
68006.0/87289.0
# We kept 78% of original tweets pulled (after dropping ones that don't have a target - Percent_Change in stock price)

0.779090148816002

In [561]:
pd.to_pickle(X, '../predicting_stock_market_trends_with_Twitter/data/X.pickle')

In [562]:
pd.to_pickle(y, '../predicting_stock_market_trends_with_Twitter/data/y_AAPL.pickle')

In [563]:
combined_df[0].value_counts()

[down]       61112
[neutral]     4959
[up]          1935
Name: 0, dtype: int64

In [564]:
combined_df_nodrop[0].value_counts()

[down]                               61112
Stock not available for this date    19283
[neutral]                             4959
[up]                                  1935
Name: 0, dtype: int64

# Note: