# Part 5 -- Transform Target Data

Transform into categorical variable **up/down/neutral**.

### Load lib codes:

In [1]:
!pwd

/home/jovyan/work/Portfolio/predicting_stock_market_trends_with_Twitter/ipynb

In [2]:
from os import chdir
chdir('/home/jovyan/work/Portfolio/predicting_stock_market_trends_with_Twitter/')

from lib import *
# suppress_warnings()
from lib.twitter_keys import my_keys

In [3]:
!pip install pymongo
import pymongo

Requirement already satisfied (use --upgrade to upgrade): pymongo in /opt/conda/lib/python3.5/site-packages
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
cli = pymongo.MongoClient(host='35.163.253.8')

In [5]:
# Instantiates when you put data in 
sp500_collection = cli.stocks_db.sp500_collection
stocks_collection = cli.stocks_db.stocks_collection
cli.stocks_db.collection_names()

['sp500_collection', 'stocks_collection']

In [50]:
print(sp500_collection.count())
print(stocks_collection.count())

505
250633

In [88]:
# Getting ALL data out of a collection
sp500_list = [document for document in sp500_collection.find()]
sp500_df = pd.DataFrame(sp500_list)
# len(sp500_df['stock'].unique())
sp500_df

                          _id    status  stock
0    59375144d8b1410090fd2c82  complete    MMM
1    59375145d8b1410090fd2e7d  complete    ABT
2    59375145d8b1410090fd3078  complete   ABBV
3    59375145d8b1410090fd3273  complete    ACN
4    59375146d8b1410090fd346e  complete   ATVI
5    59375147d8b1410090fd3669  complete    AYI
6    59375147d8b1410090fd3864  complete   ADBE
7    59375147d8b1410090fd3a5f  complete    AMD
8    59375148d8b1410090fd3c5a  complete    AAP
9    59375148d8b1410090fd3e55  complete    AES
10   59375149d8b1410090fd4050  complete    AET
11   5937514ad8b1410090fd424b  complete    AMG
12   5937514bd8b1410090fd4446  complete    AFL
13   5937514bd8b1410090fd4641  complete      A
14   5937514cd8b1410090fd483c  complete    APD
15   5937514dd8b1410090fd4a37  complete   AKAM
16   5937514dd8b1410090fd4c32  complete    ALB
17   5937514e2c7311003e9e76c7  complete    ALK
18   5937514e2c7311003e9e78c2  complete   ALXN
19   5937514ed8b1410090fd4e2d  complete    ARE
20   5937514e2c7311003e9e7abd  complete   ALLE
21   5937514fd8b1410090fd5028  complete    AGN
22   5937514fd8b1410090fd5223  complete    LNT
23   5937514f2c7311003e9e7cb8  complete    ADS
24   5937514fd8b1410090fd541e  complete    ALL
25   593751502c7311003e9e7eb3  complete  GOOGL
26   593751502c7311003e9e80ae  complete     MO
27   59375150d8b1410090fd5619  complete   GOOG
28   593751502c7311003e9e82a9  complete   AMZN
29   59375150d8b1410090fd5814  complete    AEE
..                        ...       ...    ...
475  593751c52c7311003ea00f01  complete    VNO
476  593751c5d8b1410090ff2f14  complete    VMC
477  593751c62c7311003ea010fc  complete    WMT
478  593751c6d8b1410090ff310f  complete    WBA
479  593751c62c7311003ea012f7  complete    DIS
480  593751c6d8b1410090ff330a  complete     WM
481  593751c7d8b1410090ff3505  complete    WEC
482  593751c72c7311003ea014f2  complete    WAT
483  593751c72c7311003ea016ed  complete    HCN
484  593751c72c7311003ea018e8  complete    WDC
485  593751c82c7311003ea01ae2  complete     WU
486  593751c8d8b1410090ff3700  complete    WFC
487  593751c82c7311003ea01ccc  complete    WRK
488  593751c8d8b1410090ff38fb  complete     WY
489  593751c8d8b1410090ff3af6  complete    WFM
490  593751c92c7311003ea01ec7  complete    WHR
491  593751c9d8b1410090ff3cf1  complete    WMB
492  593751c9d8b1410090ff3eec  complete    WYN
493  593751c92c7311003ea020c2  complete   WLTW
494  593751c9d8b1410090ff40e7  complete   WYNN
495  593751ca2c7311003ea022bd  complete    XEL
496  593751cad8b1410090ff42e2  complete    XRX
497  593751ca2c7311003ea024b8  complete   XLNX
498  593751cad8b1410090ff43bb  complete     XL
499  593751cb2c7311003ea026b3  complete    XYL
500  593751cb2c7311003ea028ae  complete    YUM
501  593751cbd8b1410090ff45b6  complete   YHOO
502  593751cc2c7311003ea02aa9  complete    ZBH
503  593751cc2c7311003ea02ca4  complete    ZTS
504  593751cdd8b1410090ff47b1  complete   ZION

[505 rows x 3 columns]

In [8]:
# Getting ALL data out of a collection
stocks_list = [document for document in stocks_collection.find()]
stocks_df = pd.DataFrame(stocks_list)
stocks_df.head()

,Close,Date,High,Low,Open,Stock,Volume,_id
0,158.98,2015-06-01,159.76,158.57,159.10,MMM,1906559,59375144d8b1410090fd2a88
1,159.08,2015-06-02,159.88,157.95,158.28,MMM,2481192,59375144d8b1410090fd2a89
2,160.16,2015-06-03,160.50,158.98,159.61,MMM,2074495,59375144d8b1410090fd2a8a
3,158.35,2015-06-04,160.38,158.09,159.51,MMM,2237628,59375144d8b1410090fd2a8b
4,157.08,2015-06-05,157.97,156.97,157.50,MMM,2314771,59375144d8b1410090fd2a8c

### Use Close price as our target (for now):

In [51]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250633 entries, 0 to 250632
Data columns (total 8 columns):
Close     250633 non-null float64
Date      250633 non-null datetime64[ns]
High      250630 non-null float64
Low       250630 non-null float64
Open      250630 non-null float64
Stock     250633 non-null object
Volume    250633 non-null int64
_id       250633 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 15.3+ MB

In [87]:
len(stocks_df['Stock'].unique())

501

In [138]:
def get_change_in_Close(df):
    list_of_df = []
    for s in df['Stock'].unique():
        try_df = df.loc[df['Stock']==s]
        try_df = try_df.sort(columns='Date')
        try_df['Diff'] = try_df['Close'].diff()
        list_of_df.append(try_df)
        
    return list_of_df

In [140]:
list_of_df_diff = get_change_in_Close(stocks_df)

/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """

In [143]:
list_of_df_diff[1]

,Close,Date,High,Low,Open,Stock,Volume,_id,Diff
506,48.94,2015-06-01,49.20,48.57,48.77,ABT,5055102,59375145d8b1410090fd2c83,NaN
507,48.94,2015-06-02,49.18,48.32,48.65,ABT,5138146,59375145d8b1410090fd2c84,0.00
508,48.86,2015-06-03,49.13,48.74,48.96,ABT,3309634,59375145d8b1410090fd2c85,-0.08
509,48.68,2015-06-04,49.17,48.53,48.98,ABT,4686970,59375145d8b1410090fd2c86,-0.18
510,48.45,2015-06-05,48.63,48.01,48.59,ABT,3542377,59375145d8b1410090fd2c87,-0.23
511,48.44,2015-06-08,48.56,48.20,48.37,ABT,4352984,59375145d8b1410090fd2c88,-0.01
512,48.18,2015-06-09,48.53,48.01,48.52,ABT,3402013,59375145d8b1410090fd2c89,-0.26
513,48.50,2015-06-10,48.69,48.30,48.36,ABT,5614880,59375145d8b1410090fd2c8a,0.32
514,49.06,2015-06-11,49.25,48.51,48.70,ABT,7101190,59375145d8b1410090fd2c8b,0.56
515,48.67,2015-06-12,48.96,48.64,48.91,ABT,3692146,59375145d8b1410090fd2c8c,-0.39
516,48.07,2015-06-15,48.36,47.72,48.30,ABT,4807120,59375145d8b1410090fd2c8d,-0.60
517,48.48,2015-06-16,48.54,47.90,48.07,ABT,3919688,59375145d8b1410090fd2c8e,0.41
518,48.57,2015-06-17,48.74,48.33,48.50,ABT,3724436,59375145d8b1410090fd2c8f,0.09
519,49.94,2015-06-18,50.16,48.65,48.69,ABT,7971766,59375145d8b1410090fd2c90,1.37
520,49.89,2015-06-19,50.10,49.74,49.90,ABT,9367222,59375145d8b1410090fd2c91,-0.05
521,50.03,2015-06-22,50.36,49.84,49.96,ABT,4627048,59375145d8b1410090fd2c92,0.14
522,49.88,2015-06-23,50.47,49.69,50.22,ABT,3258331,59375145d8b1410090fd2c93,-0.15
523,49.50,2015-06-24,49.84,49.48,49.59,ABT,4572432,59375145d8b1410090fd2c94,-0.38
524,49.33,2015-06-25,49.87,49.28,49.65,ABT,3607886,59375145d8b1410090fd2c95,-0.17
525,49.97,2015-06-26,49.98,49.27,49.47,ABT,6780539,59375145d8b1410090fd2c96,0.64
526,49.01,2015-06-29,49.85,48.96,49.54,ABT,5364310,59375145d8b1410090fd2c97,-0.96
527,49.08,2015-06-30,49.55,48.91,49.51,ABT,4514667,59375145d8b1410090fd2c98,0.07
528,49.52,2015-07-01,49.63,49.08,49.40,ABT,3378206,59375145d8b1410090fd2c99,0.44
529,49.41,2015-07-02,49.82,49.16,49.80,ABT,2740289,59375145d8b1410090fd2c9a,-0.11
530,49.74,2015-07-06,50.12,48.92,49.02,ABT,5783811,59375145d8b1410090fd2c9b,0.33
531,50.21,2015-07-07,50.24,49.10,49.96,ABT,6069408,59375145d8b1410090fd2c9c,0.47
532,49.25,2015-07-08,50.09,49.17,49.74,ABT,5839565,59375145d8b1410090fd2c9d,-0.96
533,49.19,2015-07-09,49.93,49.18,49.80,ABT,5604805,59375145d8b1410090fd2c9e,-0.06
534,49.93,2015-07-10,50.12,49.39,49.63,ABT,5028191,59375145d8b1410090fd2c9f,0.74
535,49.72,2015-07-13,50.11,49.58,50.00,ABT,5519853,59375145d8b1410090fd2ca0,-0.21
...,...,...,...,...,...,...,...,...,...
982,43.98,2017-04-20,44.15,43.52,43.69,ABT,5871911,59375145d8b1410090fd2e5f,0.39
983,43.53,2017-04-21,43.98,43.43,43.94,ABT,7519813,59375145d8b1410090fd2e60,-0.45
984,44.13,2017-04-24,44.26,43.84,44.07,ABT,6727012,59375145d8b1410090fd2e61,0.60
985,43.76,2017-04-25,44.39,43.76,44.21,ABT,6793106,59375145d8b1410090fd2e62,-0.37
986,43.80,2017-04-26,44.15,43.71,43.93,ABT,5591151,59375145d8b1410090fd2e63,0.04
987,43.65,2017-04-27,44.01,43.60,43.96,ABT,7487495,59375145d8b1410090fd2e64,-0.15
988,43.64,2017-04-28,43.75,43.50,43.67,ABT,6014062,59375145d8b1410090fd2e65,-0.01
989,43.48,2017-05-01,43.66,43.32,43.57,ABT,5119107,59375145d8b1410090fd2e66,-0.16
990,43.60,2017-05-02,43.77,43.40,43.66,ABT,6166080,59375145d8b1410090fd2e67,0.12
991,43.72,2017-05-03,43.75,43.49,43.61,ABT,4579737,59375145d8b1410090fd2e68,0.12
992,44.59,2017-05-04,44.59,43.72,43.75,ABT,6551398,59375145d8b1410090fd2e69,0.87
993,44.64,2017-05-05,44.69,44.48,44.58,ABT,5893207,59375145d8b1410090fd2e6a,0.05
994,44.68,2017-05-08,44.90,44.63,44.70,ABT,6320137,59375145d8b1410090fd2e6b,0.04
995,44.67,2017-05-09,44.77,44.56,44.65,ABT,4943052,59375145d8b1410090fd2e6c,-0.01
996,44.50,2017-05-10,44.70,44.37,44.70,ABT,5253297,59375145d8b1410090fd2e6d,-0.17
997,43.86,2017-05-11,44.39,43.78,44.39,ABT,7071583,59375145d8b1410090fd2e6e,-0.64
998,43.96,2017-05-12,44.17,43.87,43.90,ABT,5775769,59375145d8b1410090fd2e6f,0.10
999,44.04,2017-05-15,44.23,43.90,43.92,ABT,4223510,59375145d8b1410090fd2e70,0.08
1000,43.69,2017-05-16,44.59,43.41,44.59,ABT,7159346,59375145d8b1410090fd2e71,-0.35
1001,43.08,2017-05-17,43.61,43.05,43.40,ABT,5989323,59375145d8b1410090fd2e72,-0.61
1002,42.98,2017-05-18,43.28,42.88,43.17,ABT,5225119,59375145d8b1410090fd2e73,-0.10
1003,43.16,2017-05-19,43.32,43.01,43.15,ABT,5882979,59375145d8b1410090fd2e74,0.18
1004,43.73,2017-05-22,43.87,43.10,43.27,ABT,5802308,59375145d8b1410090fd2e75,0.57
1005,43.68,2017-05-23,44.17,43.62,43.71,ABT,4673163,59375145d8b1410090fd2e76,-0.05
1006,43.53,2017-05-24,43.79,43.40,43.79,ABT,4590820,59375145d8b1410090fd2e77,-0.15
1007,43.95,2017-05-25,44.00,43.44,43.78,ABT,4473908,59375145d8b1410090fd2e78,0.42
1008,44.71,2017-05-26,44.85,43.83,43.92,ABT,8624069,59375145d8b1410090fd2e79,0.76
1009,45.00,2017-05-30,45.10,44.21,44.46,ABT,8119697,59375145d8b1410090fd2e7a,0.29
1010,45.66,2017-05-31,45.75,45.18,45.20,ABT,10449789,59375145d8b1410090fd2e7b,0.66
1011,46.10,2017-06-01,46.10,45.47,45.52,ABT,7385462,59375145d8b1410090fd2e7c,0.44

In [44]:
stocks_df.sort(columns='Date')

/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.

,Close,Date,High,Low,Open,Stock,Volume,_id
0,158.98,2015-06-01,159.76,158.57,159.10,MMM,1906559,59375144d8b1410090fd2a88
173753,74.69,2015-06-01,75.12,73.96,74.77,OMC,1260847,593751a42c7311003e9fa483
173247,64.06,2015-06-01,64.57,63.19,64.23,PCAR,1498779,593751a3d8b1410090fea0ef
172741,43.79,2015-06-01,44.06,43.64,43.84,ORCL,9764305,593751a3d8b1410090fe9ef4
172235,41.31,2015-06-01,42.05,41.23,41.88,OKE,1750945,593751a2d8b1410090fe9cf9
171729,78.89,2015-06-01,79.35,77.91,78.89,OXY,5066495,593751a2d8b1410090fe9afe
171223,222.49,2015-06-01,223.18,218.82,220.80,ORLY,568537,593751a22c7311003e9fa288
170717,22.38,2015-06-01,22.60,22.13,22.27,NVDA,9316504,593751a2d8b1410090fe9903
170211,47.59,2015-06-01,48.00,47.00,47.58,NUE,1721388,593751a22c7311003e9fa08d
169705,25.14,2015-06-01,25.30,25.00,25.17,NRG,2175721,593751a1d8b1410090fe9708
169199,159.94,2015-06-01,160.78,158.30,159.09,NOC,1329728,593751a12c7311003e9f9e92
7084,147.45,2015-06-01,148.10,146.29,147.65,APD,660436,5937514cd8b1410090fd4642
168694,74.25,2015-06-01,75.19,73.98,74.79,NTRS,1226533,593751a1d8b1410090fe950e
168188,92.76,2015-06-01,93.06,91.85,92.48,NSC,1598560,593751a12c7311003e9f9c97
167682,73.25,2015-06-01,73.86,72.64,72.65,JWN,1396442,593751a1d8b1410090fe9313
167176,47.06,2015-06-01,47.42,47.02,47.14,NI,1289436,593751a0d8b1410090fe9118
166670,50.88,2015-06-01,51.14,50.72,50.88,NKE,4944150,593751a02c7311003e9f9a9b
165722,103.53,2015-06-01,104.38,102.44,102.55,NEE,3136786,593751a02c7311003e9f98a0
165216,15.00,2015-06-01,15.06,14.86,14.97,NWS,601168,5937519fd8b1410090fe8d62
164710,37.33,2015-06-01,37.88,37.04,37.88,NFX,3453595,5937519f2c7311003e9f96a5
164204,15.22,2015-06-01,15.47,15.01,15.20,NWSA,2371775,5937519ed8b1410090fe8b67
163698,27.17,2015-06-01,27.48,27.00,27.35,NEM,3644824,5937519ed8b1410090fe896c
163192,89.00,2015-06-01,89.12,87.94,88.84,NFLX,9925832,5937519d2c7311003e9f94aa
7590,75.23,2015-06-01,76.50,74.71,76.38,AKAM,2269523,5937514dd8b1410090fd483d
162686,33.16,2015-06-01,33.40,32.87,33.27,NTAP,4324907,5937519dd8b1410090fe8770
162180,19.34,2015-06-01,19.54,19.16,19.38,NAVI,1257553,5937519d2c7311003e9f92af
174259,120.46,2015-06-01,120.92,119.50,120.71,PH,1251491,593751a4d8b1410090fea2ea
174765,47.97,2015-06-01,48.23,47.60,47.92,PDCO,668127,593751a52c7311003e9fa67e
6578,40.92,2015-06-01,41.43,40.85,41.43,A,2440065,5937514bd8b1410090fd4447
175271,49.41,2015-06-01,49.79,49.09,49.58,PAYX,1259332,593751a5d8b1410090fea4e5
...,...,...,...,...,...,...,...,...
140431,24.94,2017-06-01,24.96,24.24,24.50,LUK,1502066,5937518e2c7311003e9f6d0b
44862,65.40,2017-06-01,65.50,64.19,64.31,CCL,3578982,5937515e2c7311003e9ec00d
90721,60.40,2017-06-01,60.56,59.68,59.92,ESRX,3395462,593751742c7311003e9f1bd8
141443,66.75,2017-06-01,66.89,64.81,65.62,LNC,1571409,5937518fd8b1410090fe59eb
142455,80.43,2017-06-01,80.43,78.29,78.77,LOW,6340059,59375190d8b1410090fe5de1
88191,258.49,2017-06-01,258.59,254.84,256.81,ESS,353164,59375172d8b1410090fde29c
203996,52.41,2017-06-01,52.90,48.12,48.33,SIG,5145853,593751b3d8b1410090feea32
9107,88.23,2017-06-01,88.55,87.04,87.26,ALK,1273703,5937514e2c7311003e9e76c6
145491,43.66,2017-06-01,44.32,42.72,43.13,MNK,1968753,593751922c7311003e9f74f8
245862,133.59,2017-06-01,135.26,130.75,131.80,WYNN,4059335,593751c9d8b1410090ff40e6
46886,116.41,2017-06-01,116.78,114.08,114.51,CELG,4273328,5937515f2c7311003e9ec5fe
86673,137.89,2017-06-01,138.00,136.07,137.00,EFX,577591,593751712c7311003e9f13ec
14167,966.95,2017-06-01,971.50,960.01,968.95,GOOG,1410458,59375150d8b1410090fd5618
238796,73.46,2017-06-01,73.50,72.72,72.96,WM,1629965,593751c6d8b1410090ff3309
211080,84.19,2017-06-01,84.60,81.47,81.96,SRCL,785253,593751b7d8b1410090fef80f
187390,55.91,2017-06-01,56.00,55.21,55.51,PLD,3213540,593751ac2c7311003e9fbc2d
228676,107.66,2017-06-01,108.10,105.70,106.49,UPS,4832320,593751c02c7311003e9fff28
187896,212.27,2017-06-01,215.30,210.30,215.21,PSA,1251077,593751ac2c7311003e9fbe28
24286,46.00,2017-06-01,46.26,45.80,45.97,AMAT,7176781,59375154d8b1410090fd69e5
46380,105.65,2017-06-01,106.43,105.16,105.77,CAT,4211339,5937515fd8b1410090fd90d8
87179,436.93,2017-06-01,443.02,436.03,441.70,EQIX,493783,59375172d8b1410090fde0a1
144479,58.31,2017-06-01,58.60,56.68,57.27,MAC,1503814,59375192d8b1410090fe61d7
143973,24.08,2017-06-01,24.16,23.47,23.47,M,6063364,593751922c7311003e9f72fd
188402,45.54,2017-06-01,45.58,44.72,44.93,PEG,2687534,593751acd8b1410090fec298
87685,64.93,2017-06-01,65.08,64.40,65.06,EQR,1762333,593751722c7311003e9f15e7
143467,80.55,2017-06-01,80.81,79.57,79.74,LYB,3605205,593751912c7311003e9f7102
142961,158.70,2017-06-01,159.01,155.52,157.56,MTB,625835,59375191d8b1410090fe5fdc
17709,123.13,2017-06-01,123.22,121.09,121.66,AMP,1699050,59375151d8b1410090fd5e04
128311,53.21,2017-06-01,53.33,52.12,52.56,JEC,639785,59375189d8b1410090fe3e49
250632,40.55,2017-06-01,40.55,39.73,40.48,ZION,2667319,593751cdd8b1410090ff47b0

In [36]:
stocks_df['Date'] = stocks_df['Date'].date()

AttributeError: 'Series' object has no attribute 'date'

In [43]:
stocks_df['Close'].diff()

0          NaN
1         0.10
2         1.08
3        -1.81
4        -1.27
5        -0.49
6         0.39
7         2.06
8         0.82
9        -1.82
10       -2.17
11        0.62
12        0.46
13        2.67
14       -0.67
15        0.73
16        0.16
17       -2.30
18       -1.62
19        1.17
20       -3.14
21        0.35
22        1.35
23       -0.27
24       -0.30
25        0.35
26       -2.72
27        1.04
28        1.20
29        1.52
          ...
250603    1.10
250604   -0.23
250605    1.11
250606   -1.47
250607    0.69
250608   -0.52
250609   -0.63
250610    0.49
250611   -0.54
250612    0.60
250613    0.09
250614    0.08
250615    0.45
250616   -0.27
250617    0.01
250618   -0.54
250619   -0.25
250620    0.39
250621    0.12
250622   -1.67
250623    0.59
250624    0.52
250625    0.11
250626    1.13
250627   -0.64
250628    0.18
250629   -0.43
250630   -0.58
250631    0.20
250632    0.48
Name: Close, dtype: float64

#### Clean data:

In [9]:
tweets_df['text']

0        On this National Gun Violence Awareness Day, l...
1        Forever grateful for the service and sacrifice...
2        Good to see my friend Prince Harry in London t...
3        Through faith, love, and resolve the character...
4        Our hearts go out to those killed and wounded ...
5        Excited to hear from Sierra, Imani, Filiz, and...
6        Happy Mother's Day to my love and partner on t...
7        We're rolling up our sleeves again, back where...
8        Well said, Jimmy. That's exactly why we fought...
9        RT @ObamaFoundation: It’s a beautiful day on t...
10       My heart goes out to the victims and their fam...
11       Chuck Berry rolled over everyone who came befo...
12       On International Women’s Day, @MichelleObama a...
13       RT @ObamaFoundation: Courage comes in many for...
14       Humbled to be recognized by a family with a le...
15         We asked. You answered. https://t.co/mAJvko6VqR
16       Happy Valentine’s Day, @michelleobama! Almost ...
17       I read letters like these every single day. It...
18       RT @ObamaFoundation: Add your voice: https://t...
19       In the meantime, I want to hear what you're th...
20       Hi everybody! Back to the original handle. Is ...
21       Tonight, President Obama reflects on eight yea...
22       RT @OFA: "Thanks to the Affordable Care Act, y...
23       In the weekly address, President Obama discuss...
24       Let's keep working to keep our economy on a be...
25       The landmark #ParisAgreement enters into force...
26       The economy added 161,000 jobs in October, and...
27       There are a lot of plans out there. Check your...
28       The positive impact of #Obamacare is undeniabl...
29       RT @POTUS: It happened: @Cubs win World Series...
                               ...
87259    Pandora hunts for buyer as losses steepen http...
87260    OCBC profit rises 14% in Q1 on wealth manageme...
87261    Wall Street’s fear gauge falls to lowest level...
87262    Yen steadies after weakening past ¥113 overnig...
87263    Fast Asia Open: South Korea presidential elect...
87264    Start-up trading venue trueEX sues Markit http...
87265    Sturm, Ruger &amp; Co says gun demand slid aft...
87266    Trump warned about Flynn’s Russian blackmail r...
87267    Post shares sapped by soggy sales https://t.co...
87268    Pandora raises $150m from KKR to explore sale ...
87269    Trump donor Robert Mercer sued by fired employ...
87270    DoubleLine’s Gundlach bearish on US stocks, bu...
87271    Bon-Ton replaces chief executive amid departme...
87272    Hertz shares skid on wider-than-expected loss ...
87273    Carmakers take direct route to Indian middle c...
87274    Glencore and Tohoku agree Australian coal pric...
87275    China’s $100bn agribusiness, Macron’s momentum...
87276    US stocks pause for breath as Apple rises and ...
87277    Algebris head Serra says shorting gilts safest...
87278    US tuna probe nets guilty plea from Lion Capit...
87279    Numis wisely seeks more than just Alfa in fund...
87280    Bill Clinton and crime writer to pen White Hou...
87281    Duterte plays cat-and-mouse game with US and C...
87282    Goldman shakes up investment bank leadership h...
87283    FT View: Buffett, the Brazilians and chainsaw ...
87284    Esports viewing shoots up but ad revenues have...
87285    Coach hints at further deals after bagging Kat...
87286    Tyson shares hit by investigation into the pou...
87287    BBA Aviation dips as Citigroup expresses cauti...
87288    Warnings of staff relocations after Brexit ris...
Name: text, dtype: object

In [13]:
# import re

In [21]:
# def clean_text(text):
#     text = re.sub("'", "", text)
#     text = re.sub('(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)', '', text)
#     text = re.sub('[\W]', ' ', text)
#     return text

#### BAG OF WORDS: CountVectorizer

In [21]:
!pip install spacy

Requirement already satisfied (use --upgrade to upgrade): spacy in /opt/conda/lib/python3.5/site-packages
Requirement already satisfied (use --upgrade to upgrade): pathlib in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.7 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): ftfy<5.0.0,>=4.4.2 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): regex==2017.4.5 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): preshed<2.0.0,>=1.0.0 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): thinc<6.6.0,>=6.5.0 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): dill<0.3,>=0.2 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): ujson>=1.35 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): six in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): plac<1.0.0,>=0.9.6 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): cymem<1.32,>=1.30 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): murmurhash<0.27,>=0.26 in /opt/conda/lib/python3.5/site-packages (from spacy)
Requirement already satisfied (use --upgrade to upgrade): wcwidth in /opt/conda/lib/python3.5/site-packages (from ftfy<5.0.0,>=4.4.2->spacy)
Requirement already satisfied (use --upgrade to upgrade): html5lib in /opt/conda/lib/python3.5/site-packages (from ftfy<5.0.0,>=4.4.2->spacy)
Requirement already satisfied (use --upgrade to upgrade): termcolor in /opt/conda/lib/python3.5/site-packages (from thinc<6.6.0,>=6.5.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): tqdm<5.0.0,>=4.10.0 in /opt/conda/lib/python3.5/site-packages (from thinc<6.6.0,>=6.5.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): cytoolz<0.9,>=0.8 in /opt/conda/lib/python3.5/site-packages (from thinc<6.6.0,>=6.5.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): wrapt in /opt/conda/lib/python3.5/site-packages (from thinc<6.6.0,>=6.5.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): urllib3<1.22,>=1.21.1 in /opt/conda/lib/python3.5/site-packages (from requests<3.0.0,>=2.13.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): idna<2.6,>=2.5 in /opt/conda/lib/python3.5/site-packages (from requests<3.0.0,>=2.13.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.5/site-packages (from requests<3.0.0,>=2.13.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): certifi>=2017.4.17 in /opt/conda/lib/python3.5/site-packages (from requests<3.0.0,>=2.13.0->spacy)
Requirement already satisfied (use --upgrade to upgrade): toolz>=0.8.0 in /opt/conda/lib/python3.5/site-packages (from cytoolz<0.9,>=0.8->thinc<6.6.0,>=6.5.0->spacy)
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
from spacy.en import English

In [33]:
nlp = English()

In [34]:
tweets_df['text'][0]

'On this National Gun Violence Awareness Day, let your voice be heard and show your commitment to reducing gun viole… https://t.co/S7dth6Ywb0'

In [35]:
nlp(tweets_df['text'][0]).vector.shape

(300,)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [22]:
naive_vectorizer = CountVectorizer(min_df = 3)
document_term_matrix = create_document_term_matrix(naive_vectorizer, tweets_df['text'])
document_term_matrix.sample(5)
#this is a document term matrix. It just counts the # of times a word shows up:

MemoryError:

### Do a PCA to determine number of components for SVD: